.fixedStar {
    border: 1px solid red;
    .fs-Banners {
        // btn pred next
        border: 1px solid red;
        width: 450px;
        height: 456px;
        position: relative;
        left: 0;
        overflow: hidden;
        margin: 0 auto;
        span {
            background-color: rgba(255, 255, 255, 0.5);
            width: 20px;
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            font-size: 22px;
            color: black;
            position: absolute;
            z-index: 20;
            border: 1px solid #555555;
            cursor: pointer;
            &.fs-Next {
                left: 0;
                top: 200px;
            }
            &.fs-pred {
                right: 0;
                top: 200px;
            }
        }
        .fs-Group {
            width: 1000%;
            height: 456px;
            position: absolute;
            li {
                width: 450px;
                height: 456px;
                float: left;
            }
        }
        .fs-nav {
            background: #ff9900;
            border-radius: 10px;
            position: absolute;
            left: 200px;
            bottom: 10px;
            padding: 5px 10px;
            li {
                width: 10px;
                height: 10px;
                float: left;
                border-radius: 5px;
                line-height: 20px;
                margin: 0 3px;
                cursor: pointer;
                &:hover {
                    background: #0099ff;
                }
            }
        }
    }
}